
body{
    display: block;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div1{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.grid-item a{
   text-decoration: none;
  
}
.sp1{
    border: 1px solid rgb(206, 212, 212);
    padding: 15px;
    margin: 0px;
  
}
.grid-item{
    background-color: white;
  border: 1px solid rgb(205, 214, 214);
    padding: 10px;
    font-size: 12px;
}
#gid1{
    font-size: 15px; 
    padding: 15px; 
    background-color: rgb(234, 240, 245);
}